
chenzhuo1122-1/
*.dll
*.xml
*.ui
*.exe
360Chrome/Chrome/Application/9.5.0.138/360BDoctorExt/bin/360ScreenCapture.exe
360Chrome/Chrome/User Data/Default/GPUCache/data_0
360Chrome/Chrome/User Data/Default/GPUCache/data_1
360Chrome/Chrome/User Data/Default/GPUCache/data_3
*.ldb
*.log
